title = "compiled_example";           # name of app.

fields = {
                "Name",
                "Student_ID",
                "A1",
                "A2",
                "A3",
                "A4",
                "Average"
              };                        # field names

# button names
buttons = { "Add", "Update", "Delete", "Query" };


# types of named fields
Name = "string";
Student_ID = "integer";
A1 = "integer";
A2 = "integer";
A3 = "integer";
A4 = "integer";
Average = "double";

# actionListener classes for buttons (function ignored in A2)
Add = "AddListener";
Update = "UpdateListener";
Delete = "DeleteListener";
Query = "QueryListener";

# blah


